# Git Ignore List
*.js.bak
*.js.tcVis
*/Log/*
*.sj.bak
*.tcLS
*.tcCfgExtender
*.TCCFGEXTENDER
*.tcLogs
*.mds.tcLogs

# Git Ignore: Project exceptions
Log/*
OrangeHRM/Script/Visualizer/*
OrangeHRM/Log/*
